---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/olia-gozha-J4kK8b9Fgj8-unsplash.jpg
  caption: "Photo by [Olia Gozha](https://unsplash.com/@olia) on [Unsplash](https://unsplash.com)"
excerpt: "The dramatic automatic audiobook maker. Using the power of text to speach, we seek to generate suitably dramatic readings for fiction novels."
video:
poster:
  - image_path: https://dl.dropboxusercontent.com/s/p9ib7njqjieyox4/fydp-poster.png
feature_row:
  - title: The Team
people:
  - image_path: /assets/images/emily-prof-profile.jpg
    title: "Emily Zeng"
    excerpt: "Text to Speech"
  - image_path: /assets/images/cheryl-picture.JPG
    title: "Cheryl Gao"
    excerpt: "Text to Speech"
  - image_path: /assets/images/robert-prof-profile.jpg
    title: "Robert Wan"
    excerpt: "OCR, Fullstack"
  - image_path: /assets/images/robin-profile.jpg
    title: "Robin Liu"
    excerpt: "OCR, mechanical"
---

{% include video id="5PjxXZ44QJA" provider="youtube" %}

{% include feature_row id="video" type="center" %}

{% include feature_row type="center" %}

{% include the_team.html %}