---
title: "Data Verification"
author: Emily Zeng
date: 2021-01-22
categories:
  - blog
tags:
  - text-to-speech
---

I wanted to check the accuracy of aeneas, but definitely did not want to be manually looking at the json results and checking each word and its timestamp to the second. Instead, I got the result of each whole line as a subtitle file for the chapter. Looking through those subtitles in VLC, the time looks more or less correct. 

At this point, I will move forward next with setting up the actual training, and assume that aeneas is good enough. There is still a high chance of there being problems later, but we can deal with that when it comes up.
